# Enable Rewrite Engine
RewriteEngine On

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]

# Redirect "index" to the root URL (optional)
RewriteRule ^index$ / [L,R=301]
ErrorDocument 404 https://localhost/SS/error
