/* Parking Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.parking-modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  height: 90%;
  max-width: 1366px;
  max-height: 768px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  padding: 20px;
}

.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  gap: 0px;
}

.spot-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.spot-image img {
  max-width: 1366px;
  max-height: 768px;
  border-radius: 4px;
}

.spot-status-card {
  padding: 2rem;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Space between buttons */
  padding: 1rem 0;
  margin-top: auto; /* Pushes to bottom */
}

.navigation-buttons button {
  padding: 0.5rem 1.5rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.navigation-buttons button:hover {
  background-color: #45a049;
}

.navigation-buttons span {
  margin: 0 1rem;
  font-weight: bold;
}